<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgrigrowwAdmin"
        tools:targetApi="31">
        <activity
            android:name=".VideoPlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AgriGroww.Splash_Screen"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".AddExpertActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AgriGroww.ChatActivity"
            tools:ignore="LockedOrientationActivity"
            />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AgriGroww.ChatActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ShowAllRequestsActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AgriGroww.MainActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SentEmailActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AgriGroww.Splash_Screen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".WebViewActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AgriGroww.Splash_Screen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:resizeableActivity="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AgriGroww.MainActivity"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ErrorActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AgriGroww.Splash_Screen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AgriGroww.Splash_Screen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".OtpActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AgriGroww.Splash_Screen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AgriGroww.Splash_Screen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Splash_Screen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AgriGroww.Splash_Screen"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>